@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
.Line {
  width: 330px;
  border-bottom: 2px solid black;
  display: inline-block;
  margin-bottom: 5px;
  overflow: hidden;
}
.Text {
  display: inline-block;
  padding: 0px 10px;
  font-family: "EB Garamond", serif;
  font-size: 30px;
  width: 88px;
  background-color: inherit;
}
.Signupbox {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.Abovelog {
  font-family: "EB Garamond", serif;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.log {
  padding: 5px;
  width: 300px;
  border-radius: 5px;
  height: 25px;
  margin: 5px 0px;
  border-color: #d7d7d7;
  border-style: solid;
}
.log::placeholder {
  color: #d7d7d7;
  font-size: 15px;
}
.Signup {
  margin-left: 20px;
  border: hidden;
  color: white;
  height: 32px;
  width: 85px;
  background-color: #ff9494;
  border-radius: 5px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
.ButtonPosition{
  display: flex;
  justify-content: flex-end;
}
.back{
    border: none;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}
.arrange{
    display: flex;
    align-items: center;
}
